@model IEnumerable<B_R.Models.BaixaAlmoxarifado>
@{
    ViewBag.titulo = "Baixa " + Session["Item"];
    var idItem = Session["idItem"];
}
@*<script src="~/Content/tabela.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#datatableHUD").DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "resultado não encontrado",
                "sEmptyTable": "Nenhum dado disponivel nesta tabla",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
            }, "order": [[0, "desc"]],
            dom: "Blfrtip",
            buttons: [

            ],
            responsive: true,
            "bPaginate": false
        });
    });


</script>


<div>
    <div class=" ">
        <a href="@Url.Action("Cadastrar","BaixaAlmoxarifado",new {idItem = idItem })" class="btn btn-app" style="width:100%">
            <i class="fa fa-edit"></i> Adicionar
        </a>
        <div>
            <table id="datatableHUD" class="hover" style="width:100%">
                <thead>
                    <tr style="background-color:white">
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>data</th>
                        <th>Saída</th>
                        <th>Motivo</th>
                        <th>Solicitante</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.item.descricao)
                            </td>
                            <td>
                                @if (item.data.ToString() != "01/01/0001 00:00:00")
                                {
                                    @item.data.ToString("dd/MM/yyyy")
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.saida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.motivo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.solicitante)
                            </td>
                            <td>
                                <a href="@Url.Action("Editar","BaixaAlmoxarifado" ,new { id = item.Id })" style="box-shadow:none"><i style="color: #65ab81;" title="editar" class="fa fa-edit fa-2x"></i></a>
                                <a href="@Url.Action("Delete","BaixaAlmoxarifado",new { id = item.Id,idItem = idItem })" style="box-shadow:none" onclick="del()"><i style="color: #65ab81" ; title="delete" class="fa fa-trash fa-2x"></i></a>
                            </td>
                        </tr>

                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/offline.js")" type="text/javascript"></script>
<script>

        window.onload = function () {

            if (navigator.onLine) {
                carregarEquipamentos()
            } else {
                alert("Sistema Funcionando de forma offline")
            }

        }

        function del(){
  confirm("Tem certeza que deseja Excluir esta saida ?");
}

</script>



