@{
    Layout = null;
    var id = ViewBag.id;
}

<!DOCTYPE HTML>

<html>
<head>

    @*<img src="~/Content/images/Logo-Default.png" height="100px" style="position:absolute;z-index:1;margin-top: 1%; margin-left: 5%;"/>*@
    @*<title>Brasil Refino</title>*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <script src="~/Content/assets/js/main.js"></script>
</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            @*<img src="~/Content/images/Logo-Default.png" class="logo" />*@
            <a href="@Url.Action("Index","Panel")" class="logo"><strong></strong> BRASIL REFINO</a>
            <p class="logo" style="margin-top:3%">Bem vindo, @Session["user"]</p>
            <nav id="nav">
                <a href="@Url.Action("Index","Area")">Área</a>
                <a href="@Url.Action("Index","Panel")">solicitação</a>
                <a href="#">relatorio</a>
                <a href="#">plano de inspeção</a>
                <a href="#">novo</a>
                <a href="#">novo</a>
                <a href="@Url.Action("Logoff","Home")">Logoff</a>
                <a href="@Url.Action("Index","Panel")" class="  " style="color:#83d0a5">Voltar </a>
            </nav>
            <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
        </div>
    </header>

    <!-- Banner -->
    <section id="banner">
        <div class="inner">
            <header>
                <h1>Solicitação</h1>
            </header>

            <div class="flex text-center ">

                <form method="post" action="@Url.Action("verificarArea","Solicitacao")" style="width:500px;margin-bottom:1%">

                    @Html.DropDownList("area", "Área")
      
                    <button class="button" style="box-shadow:none">Pesquisar</button><br />
                    <a class="button" href="@Url.Action("Index","Panel")" style="box-shadow:none">Voltar</a>
                </form>
            </div>

            <footer></footer>
        </div>
    </section>

 <script>
    $("select").css("margin-bottom", "1%");
     $("select").attr("required");
    
 

     // $('#area').change(function () {
    //    var es = document.getElementById('area');
     //   esValor = es.options[es.selectedIndex].value;
   
   //  window.location = "/Solicitacao/verificarArea?id=" + esValor
     });
 </script>

</body>
</html>