@model IEnumerable<B_R.Models.Solicitacao>
@{
    ViewBag.titulo = "Solicitação de ordem de serviço";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#datatableHUD").DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "resultado não encontrado",
                "sEmptyTable": "Nenhum dado disponivel nesta tabla",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
            }, "order": [[0, "desc"]],
            dom: "Blfrtip",
            buttons: [

            ],
            responsive: true,
            "bPaginate": false
        });
    });


</script>
<form action="@Url.Action("Index","Panel")" method="post" style="display:grid;margin-bottom:2%;">
    <div class="form-group">

        <div class="col-md-2 col-sm-2 col-xs-2">
            <select class="form-control" name="setor" id="setor">
                <option value="" selected>SETOR</option>
                <option value="MECANICA">MECÂNICA</option>
                <option value="AUTOMACAO">AUTOMAÇÃO</option>
                <option value="ELETRICA">ELÉTRICA</option>
                <option value="CIVIL">CIVIL</option>
                <option value="SEGURANÇA">SEGURANÇA</option>
                <option value="COMPRAS">COMPRAS</option>
                <option value="PROJETOS">PROJETOS</option>
                <option value="CIPA">CIPA</option>
                <option value="TI">TI</option>
                <option value="JARDINAGEM">JARDINAGEM</option>
                <option value="PINTURA">PINTURA</option>
                <option value="RH">RH</option>
                <option value="CONTABILIDADE">CONTABILIDADE</option>
                <option value="LIMPEZA">LIMPEZA</option>
                <option value="BALANÇA">BALANÇA</option>
                <option value="ESCRITÓRIO">ESCRITÓRIO</option>
                <option value="FATURAMENTO">FATURAMENTO</option>
            </select>
        </div>


        <div class="col-md-2 col-sm-2 col-xs-2">
            <select class="form-control" name="situacao" id="situacao">
                <option value="" selected>SITUAÇÃO</option>
                <option value="FINALIZADA">FINALIZADA</option>
                <option value="PENDENTE">PENDENTE</option>
                <option value="CANCELADA">CANCELADA</option>
                <option value="REABERTURA">REABERTURA</option>
            </select>
        </div>
        <input type="submit" value="Pesquisar"  />
    </div>
</form>
<form action="@Url.Action("Index","Panel",new {data=1 })" method="post" style="display:grid;margin-bottom:2%;">
    <div class="form-group">
        <div class="col-md-2 col-sm-2 col-xs-2" >

            <label>Data Inicial</label>
            <input type="date" name="dateIni" id="dateIni" class="form-control">

        </div>

        <div class="col-md-2 col-sm-2 col-xs-2" >
            <label>Data Final</label>
            <input type="date" name="dateFim" id="dateFim" class="form-control">
        </div>
            <input type="submit" value="Pesquisar"  />
        </div>
</form>
<div class=" ">
    <div>
        <table id="datatableHUD" class="hover" style="width:100%">
            <thead>
                <tr style="background-color:white">
                    <th>Código</th>
                    <th>Solicitante</th>
                    <th>Área</th>
                    <th>Tag</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th>Prioridade</th>
                    <th>Modalidade</th>
                    <th>Setor</th>
                    <th>Data</th>
                    <th>Ação</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.solicitante.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.equipamento.area.codigo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.equipamento.tag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.situacao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.prioridade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.modalidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.setor)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.abertura)
                        </td>

                        <td>
                            <a href="@Url.Action("Detalhe","Solicitacao",new { id = item.Id })" style="box-shadow:none"><i style="color: #65ab81;" class="fa fa-search fa-2x"></i></a>
                        </td>
                    </tr>

                }

            </tbody>
            <tfoot>

            </tfoot>
        </table>
    </div>
</div>
<script>

</script>



