@model IEnumerable<B_R.Models.SaidaAlmoxarifado>
@{
    ViewBag.titulo = "Saida";
}
@*<script src="~/Content/tabela.min.js"></script>*@
<script>
    $(document).ready(function () {
        $("#datatableHUD").DataTable({
            "language": {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "resultado não encontrado",
                "sEmptyTable": "Nenhum dado disponivel nesta tabla",
                "sInfo": "Mostrando registros de _START_ a _END_ de um total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros de 0 a 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
            }, "order": [[0, "desc"]],
            dom: "Blfrtip",
            buttons: [

            ],
            responsive: true,
            "bPaginate": false
        });
    });


</script>


<div>
    <div class=" ">
        <div>
            <table id="datatableHUD" class="hover" style="width:100%">
                <thead>
                    <tr style="background-color:white">
                        <th>Código</th>
                        <th>Descrição</th>
                        <th>Tag</th>
                        <th>Equipamento</th>
                        <th>data</th>
                        <th>Saída</th>
                        <th>Aplicação</th>
                        <th>Solicitante</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.item.descricao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.equipamento.tag)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.equipamento.descricao_equipamento)
                            </td>
                            <td>
                                @if (item.data.ToString() != "01/01/0001 00:00:00")
                                {
                                    @item.data.ToString("dd/MM/yyyy")
                                }

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.saida)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.aplicacao)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.solicitante)
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>

                </tfoot>
            </table>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Scripts/offline.js")" type="text/javascript"></script>
<script>

        window.onload = function () {

            if (navigator.onLine) {
                carregarEquipamentos()
            } else {
                alert("Sistema Funcionando de forma offline")
            }

        }

        function del(){
  confirm("Tem certeza que deseja Excluir esta saida ?");
}

</script>



